<div class="dashboard-container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Bienvenido</h5>
    </div>
  </div>
</div>
<br/>
<div class="dashboard-container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Reclutamiento</h5>
        </div>
        <img class="card-img-top img-fluid" src="assets/rrhh1.jpeg" alt="Imagen 1">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Entrenamiento</h5>
        </div>
        <img class="card-img-top img-fluid" src="assets/rrhh3.png" alt="Imagen 2">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Evaluación</h5>
        </div>
        <img class="card-img-top img-fluid" src="assets/rrhh2.png" alt="Imagen 3">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Nómina</h5>
        </div>
        <img class="card-img-top img-fluid" src="assets/rrhh4.jpeg" alt="Imagen 4">
      </div>
    </div>
  </div>
</div>
