.button-blue-1 {
    background-color: #00a6fb; // Azul claro
    color: white !important;
  }
  
  .button-blue-2 {
    background-color: #ff7f7f; // Rojo claro
    color: white !important;
  }
  
  .button-blue-3 {
    background-color: #74c0fc; // Azul más claro
    color: white !important;
  }
  .content {
    margin: 0.5cm;
  }