@import "@fortawesome/fontawesome-free/css/all.min.css";

$background-color: #e2e2e2;
$card-background-color: #ffffff;
$box-border-radius: 10px;

@mixin box-shadow {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  background: $background-color;
}

.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  @include box-shadow; // Utilizando el mixin
}

.login-wrapper {
  height: 100%;
}



.content {
  margin: 0.5cm;
}